<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.letmesub.dao.IndexDao">
    <select id="IndexList" resultType="com.example.letmesub.dto.SubscribeDto">
        select * from subscribe where subscribe_category = #{category}
    </select>
    <select id="IndexAllList" resultType="com.example.letmesub.dto.SubscribeDto">
        select * from subscribe
    </select>
</mapper>